kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cloud-credential-webhook-operator
  namespace: openshift-cloud-credential-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
subjects:
- kind: ServiceAccount
  name: cloud-credential-webhook-operator
  namespace: openshift-cloud-credential-operator
roleRef:
  kind: Role
  apiGroup: rbac.authorization.k8s.io
  name: cloud-credential-webhook-operator-role
